
<html>
<head>
   




</head>
<body >

    <div  class="cycki" width=1280px height=300px>
       
       <p  id="title">Moje dane</p>
</div>
<div id="glowny">

    <div id="menu">
    <h1>{{cycki}}</h1>
  
     <img src="https://cdni.pornpics.com/1280/1/86/91149212/91149212_013_0039.jpg"/>     

   
         
 

    <a href='Linki.php' class="menubutton">Linki</a><br>
 
  <button class="menubutton">Pics</button><br>
  <button class="menubutton">Video</button>
  </form>
</div>
 <div name="cipa"  id="insert">


</div>
</div>

</body>
</html>
